@import './variables';
@import './libs/normalize';
@import './components/all';

body {
  background-color: $background;
}

.wrapper {
  background-color: #0A192F;
}

.content {
  padding: 170px 0 200px;
}

.container {
  width: $container;
  margin: 0 auto;

  &--header {
    width: 95%;
  }
}

